<div class="mt-4 mb-4">
    <form method="POST" action="">
        <div class="mb-3">
            <label for="search-input" class="form-label">Từ khóa</label>
            <input type="text" name="author" class="form-control" id="search-input" placeholder="Nhập từ khóa..."> 
            <select name="gender">   
                <option value="">--Hãy chọn giới tính--</option>
                <option value="male">--Name--</option>
                <option value="male">--Nữ--</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>